version: '2'
services:
  app:
    image: vochicong/datalab-nlp:latest
    build:
      context: .
      dockerfile: Dockerfile-extended.in
    ports:
      - ${EXTERNAL_PORT}:8080
    volumes:
      - $HOME/datalab:/content/datalab # required by Datalab container
      - ./samples:/content/datalab/samples # Some NLP samples
      - $DATA:/content/data # to keep corpus data, indexes, models etc.
      - $SSH_CONFIG:/root/.ssh
      - $GITIGNORE_GLOBAL:/root/.gitignore_global
    environment:
      #required by Datalab container
      - PROJECT_ID=$PROJECT_ID
      - GOOGLE_CLOUD_PROJECT=$PROJECT_ID # for GCloud SDK
      - DATALAB_ENV=local
#      - DATALAB_DEBUG=true
  custom:
    extends: app
    entrypoint:
      - bash
      - -c
      - EXTERNAL_PORT=${EXTERNAL_PORT} /custom/entrypoint.sh
    volumes:
      - ./custom:/custom
