version: '2'
services:
  datalab-nlp:
    image: gcr.io/$PROJECT_ID/datalab-nlp:latest
    build:
      context: .
      dockerfile: Dockerfile-extended.in
    entrypoint: /datalab/run.sh
    ports:
      - 8081:8080
    volumes:
      - $HOME/datalab:/content/datalab #required by Datalab container
      - ./nlp-samples:/content/nlp-samples # Some NLP samples
      - $DATA:/content/data
      - $SSH_CONFIG:/root/.ssh
      - $GITIGNORE_GLOBAL:/root/.gitignore_global
    environment:
      #required by Datalab container
      - PROJECT_ID=$PROJECT_ID
      - DATALAB_ENV=local
