## Japanese
mecab-python3
janome

## gensim
Cython
boto
google-compute-engine
gensim

## spaCy
spacy

## GCloud Natural Language API
google-cloud-language

## GCloud Storage
google-cloud-storage

## Web server
falcon

## Testing
pytest
